@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base tweaks */
html {
  scroll-behavior: smooth;
}

/* Scroll margin for fixed navbar */
#hero,
#portfolio,
#testimonials,
#contact {
  scroll-margin-top: 5.5rem;
}
